[submodule "es6_exercises"]
	path = es6_exercises
	url = https://github.com/akifsonmez/es6_exercises
[submodule "spring_exercises"]
	path = spring_exercises
	url = https://github.com/akifsonmez/spring_exercises.git
[submodule "algo-and-datastructure-exercises"]
	path = algo-and-datastructure-exercises
	url = https://github.com/akifsonmez/algo-and-datastructure-exercises
[submodule "react-exercises"]
	path = react-exercises
	url = https://github.com/akifsonmez/react-exercises
[submodule "go-exercises"]
	path = go-exercises
	url = https://github.com/akifsonmez/go-exercises
[submodule "react-material-ui-exercises"]
	path = react-material-ui-exercises
	url = https://github.com/akifsonmez/react-material-ui-exercises
